.App-Container {
    width: 1200px;
    margin: auto;
}

.Profile {
    width: 350px;
    height: auto;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.Social-Links ol {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.Social-Links ol li a {
    text-decoration: none;
    font-family: vardana;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, .8);
}

.Social-Links ol li a:hover {
    text-decoration: underline;
}